# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pycache/
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/

# -----------------------------
# PyCharm
# -----------------------------
.idea/
*.iml
*.iws
out/

# -----------------------------
# VS Code (jeśli używasz)
# -----------------------------
.vscode/

# -----------------------------
# System
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/
*.cover
*.py,cover

# -----------------------------
# MacOS
# -----------------------------
.DS_Store

# -----------------------------
# Pytest
# -----------------------------
.cache
.pytest_cache/

# -----------------------------
# Datasets
# -----------------------------
ToyADMOS dataset/

# -----------------------------
# Models
# -----------------------------
models/
*.joblib